:root{
    /*Color*/
    --green-color: #D0DD97;
    --green-font : #658361;

    /*Size*/
    --padding:12px;
    --header-height : 120px;

    /*Font Size*/
    --font-extra:24px;
    --font-large:20px;
    --font-medium:16px;
    --font-small:14px;
    --font-micro:12px;
}


@font-face {
    src:url("../fonts/AppleSDGothicNeoEB.ttf");
    font-family: "apple";
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "apple";
    font-size: var(--font-medium);
}

button,
button:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    outline : 0;
}

header{
    height : var(--header-height);
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    background-color:var(--green-color);
}

header img{
    max-height: 100%;
    width: auto;
    position: center;
    margin-right: var(--padding);
}

/*header button {*/
/*    margin: var(--padding) 0;*/
/*}*/

header button{
    margin : 20px 20px 10px;
    display: flex;
    /*size: 50px;*/
    flex-direction: column;
    font-size: 40px;
    background-color: var(--green-color);
    color: white;
    text-shadow: 1px 1px 3px grey;
    font-weight: bold;
    /*font-family: 'Merriweather', serif;*/
}

header button i{
    size: 50px;
    margin: 0 auto calc(var(--padding)/2);
}

.headImg{
    height: 450px;
    overflow: auto;
}
.headImg img{
    /*양 옆 일정하게 만들고 크기에 따라 줄어들도록*/
    display: block;
    margin:20px auto;
    /*크기 조절*/
    width : auto;
    height: 400px;
    /*object-fit: none;*/

}

.wrapper {
    /*font-family: 'Song Myung', serif;*/
    margin: 50px auto;
    color: saddlebrown;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #D0DD97;
    box-shadow: 3px 3px 10px #658361;

}

.form-signin .form-signin-heading{
    display: block;
    margin: 30px auto;
}
.form-signin .checkbox {
    margin: 30px auto 20px;
    font-weight: bold;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width : 300px;
    padding: 10px;
    border: 1px solid saddlebrown;
    /*font-family: 'Merriweather', serif;*/
}
.form-signin .form-control:focus {
      z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button{
    display: block;
    background-color: saddlebrown;
    font-size: var(--font-extra);
    color: aliceblue;
    border-radius: 10%;
    padding : 10px 50px;
    margin: 20px auto 0px;
    /*font-family: 'Merriweather', serif;*/
}
/******************main.html만*****************/
.newLog{
    display: block;
    margin:20px auto;
    height: 800px;
    width : 1000px; /*640px;*/
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 3px 3px 5px grey;
}

.up{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 380px;
    display: flex;
    justify-content : space-between;
}

.picture{
    display: flex;
    width: 100%;
    flex-direction: column;
    /*width: 700px;*/
    /*height: 500px;*/
    /*margin: 10px 10px;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*cursor: pointer;*/
    /*font-size: var(--font-medium);*/
}

.image-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /*background: #D0DD97;*/
}

.image-upload form{
    width: 90%;
    height: 90%;
    display: block;
    justify-content: center;
    margin: 10px auto;
    border: 1px dashed rgba(0,0,0,0.1);
    /*background: white;*/
}
/*.picbutton{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background: grey;
}*/
.piclabel{
    /*background: #658361;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 90%;
    height: 90%;
    margin: 10px auto;
    padding: 10px;
    font-size: var(--font-medium);
}
#choosefile{
    visibility: hidden;
}
.fileContainer{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: center;
    /*background: saddlebrown;*/
}
.fileInput{
    display: flex;
    align-items: center;
    width:60%;
    height: 30px;
}
#fileName{
    margin-right: 40px;
}
.buttonContainer{
    width: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--green-color);
    color: white;
    text-shadow: 1px 1px 3px grey;
    padding: 4px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/*.up .img {*/
/*    position: absolute;*/
/*}*/

.loginfo{
    width : 90%;
    display: block;
    justify-content: center;
    margin : 0px auto;
}
.form-log h3 {
    position: relative;
    font-size: var(--font-large);
    height: auto;
    margin: 0px 30px;
}
.form-log-ctrl{
    position: relative;
    font-size: 14px;
    height: auto;
    width : 400px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.form-log input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-log input[type="tag"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-log input[type="content"] {
    margin-bottom: 20px;
    height: 130px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.down{
    height: 370px;
    width: 95%;
    background: grey;
    display: block;
    justify-content : center;
    align-items: center;
    margin: 10px auto;
}
/*.navbar{*/
/*    height: 20%;*/
/*    background: white;*/
/*    margin: 0px auto;*/
/*}*/

.topnav{
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
}
.topnav input[type=text]{
    float: right;
    padding: 6px;
    border : none;
    margin : 8px
}
.searchButton{
    width: 100px;
    height: 40px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--green-color);
    text-shadow: 1px 1px 3px grey;
    color: white;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.Map{
    height: 80%;
    background: saddlebrown;
}

.plogs{
    width: 1000px;
    height : 500px;
    box-shadow: 3px 3px 5px grey;
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.image-show{
    width: 50%;
    height: 80%;
    /*background: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 5px 5px;
}
.beforeloginfo{
    width: 45%;
    height: 40%;
    margin : 10px 10px;
}

