<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--비율 맞춰주기-->
<!--    <meta http-equiv="Compatible" content="no-cache"/>-->
    <!--아이콘 선언-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"> <!--css 파일 연결-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/map.css') }}">
<!--    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>-->
    <script src="{{ url_for('static', filename='js/map.js') }}" defer></script>
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--카카오지도-->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=3a35bbfba1843e8a4f5ecdf6005debf1&libraries=services,clusterer,drawing"></script>

    <title>Plogging</title>
</head>

<body>
    <div class="header">
        <img class="ploggingimg" src="../static/logo.png" alt="">
        <!--홈키 아이콘 넣기 (fontawesome) => flex구조로 -->
        <div class="headerBtns">
            <button onclick="location.href='index.html';" type="button" id="toHome">
                <i class="fas fa-search-location"></i><span>Maps</span>
            </button>
            <button onclick="location.href='main.html';" type="button" >
            <i class="fas fa-edit"></i><span>p-logging</span>
            </button>
        </div>
    </div>
    <section class="headImg">
        <img src="../static/main_title_img.svg" alt="">
        <div class="show_weather" id="show_weather"></div>

    </section>
    <div class="map_wrap">
        <div id="map"></div>
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="한강공원" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <div class="card-deck">

    </div>
</body>
</html>